<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="Openbox 3">
	<item label="termite" icon="/usr/share/icons/Adwaita/16x16/apps/utilities-terminal.png">
		<action name="Execute">
			<command>termite</command>
		</action>
	</item>
	<item label="Thunar" icon="/usr/share/icons/hicolor/16x16/apps/Thunar.png">
		<action name="Execute">
			<command>thunar</command>
		</action>
	</item>
	<item label="Firefox" icon="/usr/share/icons/hicolor/16x16/apps/firefox.png">
		<action name="Execute">
			<command>firefox</command>
		</action>
	</item>

	<separator/>
	<menu id="xdg" label="All Applications" execute="xdg_menu --format openbox3-pipe"
		icon="/usr/share/icons/Adwaita/16x16/categories/applications-other.png"/>

	<separator/>
	<menu id="settings" label="Settings" icon="system-settings">
		<item label="Reconfigure" icon="/usr/share/icons/Adwaita/16x16/actions/view-refresh.png">
			<action name="Reconfigure" />
		</item>
		<item label="Restart" icon="/usr/share/icons/Adwaita/16x16/actions/view-refresh.png">
			<action name="Restart" />
		</item>
	</menu>
	<menu id="exit" label="Exit" icon="/usr/share/icons/Adwaita/16x16/actions/application-exit.png">
		<item label="Log Out" icon="/usr/share/icons/Adwaita/16x16/actions/system-log-out.png">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
		<separator/>
		<item label="Reboot" icon="/usr/share/icons/Adwaita/16x16/actions/view-refresh.png">
			<action name="Execute">
				<prompt>Are you sure you want to reboot the system?</prompt>
				<command>systemctl reboot</command>
			</action>
		</item>
		<item label="Shutdown" icon="/usr/share/icons/Adwaita/16x16/actions/system-shutdown.png">
			<action name="Execute">
				<prompt>Are you sure you want to power off the system?</prompt>
				<command>systemctl poweroff</command>
			</action>
		</item>
	</menu>
</menu>

</openbox_menu>
