# Logs
*.log
*history

# git
**/git/gitk

# Ranger
**/ranger/bookmarks
**/ranger/tagged

# mpd
**/mpd/**
!**/mpd/mpd.conf

# newsbeuter
**/newsbeuter/urls

# openbox/obmenu
**/obmenu-generator/icons
**/obmenu-generator/cache.db

# pulseaudio
**/pulse/**
!**/pulse/default.pa

# sxiv
**/sxiv/tags

# tint2conf
default.tint2rc
snap.jpg
tint2confrc
tint2rc.backup.*

# thunar
**/Thunar/accels.scm

# Vim
.netrwhist
**/vim/bundle
