# Vim
.netrwhist
**/vim/bundle

# Logs
*.log
*history

# Ranger
**/ranger/bookmarks
**/ranger/tagged

# tint2conf
default.tint2rc
snap.jpg
tint2confrc

# obmenu-generator
**/obmenu-generator/icons.db

# newsbeuter
**/newsbeuter/urls

# pulseaudio
**/pulse/**
!**/pulse/default.pa

# qutebrowser
**/qutebrowser/quickmarks
**/qutebrowser/qsettings

# mpd
**/mpd/database
**/mpd/log
**/mpd/pid
**/mpd/state
**/mpd/sticker.sql
