# Vim
.netrwhist
**/vim/bundle

# Logs
*.log
*history

# Ranger
**/ranger/bookmarks
**/ranger/tagged

# tint2conf
default.tint2rc
snap.jpg
tint2confrc

# newsbeuter
**/newsbeuter/urls

# pulseaudio
**/pulse/**
!**/pulse/default.pa

# mpd
**/mpd/**
!**/mpd/mpd.conf

# sxiv
**/sxiv/tags

# git
**/git/gitk

**/obmenu-generator/icons
**/obmenu-generator/cache.db
