#input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
}

#entry:selected {
	border-radius: 0;
}

#entry #img {
	padding: 0px 5px;
}

/* For run and dmenu modes */
#entry #text:only-child {
	padding-left: 26px;
}
