/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Tomorrow Night scheme by Chris Kempson (http://chriskempson.com) */

window {
	background-color: #1d1f21;
	color: #c5c8c6;
}

#outer-box {
	border: 1px solid #282a2e;
}

#entry {
	background-color: #1d1f21;
}

#entry:selected {
	background-color: #373b41;
	border-radius: 0;
}

#input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	background-color: #282a2e;
	color: #b4b7b4;
	border-color: #373b41;
}

#entry #img {
	padding: 0px 5px;
}

/* For run and dmenu modes */
#entry #text:only-child {
	padding-left: 26px;
}
