<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="root-menu" label="Openbox 3">
		<item label="Thunar">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="Chrome">
			<action name="Execute">
				<execute>google-chrome-unstable</execute>
			</action>
		</item>
		<item label="Terminal">
			<action name="Execute">
				<execute>xfce4-terminal</execute>
			</action>
		</item>
		<item label="Steam">
			<action name="Execute">
				<execute>steam</execute>
			</action>
		</item>
		<separator/>
		<menu execute="obmenu-generator -i" id="xdg" label="All Applications"/>
		<separator/>
		<menu id="settings" label="Settings">
			<menu id="obsettings" label="Openbox">
				<item label="Obconf">
					<action name="Execute">
						<execute>obconf</execute>
					</action>
				</item>
				<item label="Obmenu">
					<action name="Execute">
						<execute>obmenu</execute>
					</action>
				</item>
				<separator/>
				<item label=".config/openbox">
					<action name="Execute">
						<execute>xdg-open ~/.config/openbox</execute>
					</action>
				</item>
				<separator/>
				<item label="Reconfigure">
					<action name="Reconfigure"/>
				</item>
			</menu>
			<item label="LXAppearance">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="exitmenu" label="Leave">
			<item label="Lock">
				<action name="Execute">
					<execute>i3lock -c 000000 -p win</execute>
				</action>
			</item>
			<item label="Log Out">
				<action name="Exit"/>
			</item>
			<separator/>
			<item label="Reboot">
				<action name="Execute">
					<execute>systemctl reboot</execute>
				</action>
			</item>
			<item label="Shutdown">
				<action name="Execute">
					<execute>systemctl poweroff</execute>
				</action>
			</item>
		</menu>
	</menu>
</openbox_menu>
