#!/bin/sh
# ~/.xprofile - Scripts to run before starting X

# --- xinitrc.d - Starts basic daemons such as D-Bus or PulseAudio
if [ -d /etc/X11/xinit/xinitrc.d ]; then
  for f in /etc/X11/xinit/xinitrc.d/*; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

# --- Xresources
[ -f ~/.Xresources ] && xrdb -merge ~/.Xresources

# --- urxvt daemon
if ( command -v urxvtd >/dev/null 2>&1 ); then
	urxvtd -q -f -o
fi

# --- NVIDIA Settings
if ( command -v nvidia-settings >/dev/null 2>&1 ); then
	nvidia-settings -l
fi

# --- Bash environment
if [ ! $PATH_EXPORTED ] && [ -f ~/.bash_env ]; then
	source ~/.bash_env
fi

# WM/DEs are not called on .xprofile. Use .xinitrc instead

