!
! .Xresources - configurations for basic X applications
!

! --- Pointer
Xcursor.theme: Vanilla-DMZ

! --- Font Rendering
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.autohint: false
Xft.lcdfilter: lcddefault

! --- Terminal Colors
#include ".config/xcolors/linux"

! --- XTerm
xterm*termName: xterm-256color
!xterm*faceName: Terminus:size=8

! --- urxvt
URxvt.termName: rxvt-unicode-256color
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.savelines: 8192

! Appearance
!URxvt.depth: 32
!URxvt.background: rgba:0000/0000/0000/F800
URxvt.font: xft:Monospace:size=9
!URxvt.letterSpace: -2

! Scrolling
URxvt.scrollBar: false
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

! Extensions
URxvt.perl-ext-common: default,clipboard,url-select,vtwheel

! clipboard options
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

! url-select options
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.button: 1
URxvt.url-select.launcher: xdg-open
URxvt.url-select.underline: true

